type: file
example: "resources_test/cell_cell_communication_source_target/allen_brain_atlas/dataset.h5ad"
info:
  label: "Score"
  summary: "Metric score file"
  slots:
    uns:
      - type: string
        name: dataset_id
        description: "A unique identifier for the dataset"
        required: true
      - type: string
        name: method_id
        description: "A unique identifier for the method"
        required: true
      - type: string
        name: metric_ids
        description: "One or more unique metric identifiers"
        multiple: true
        required: true
      - type: double
        name: metric_values
        description: "The metric values obtained for the given prediction. Must be of same length as 'metric_ids'."
        multiple: true
        required: true
